[build-system]
requires = [ "hatchling",]
build-backend = "hatchling.build"

[project]
name = "tempcache"
version = "0.0.6"
requires-python = ">=3.8"
description = "Python library to cache data and function results in temporary files"
keywords = ["utility", "command-line"]
authors = [ {"name" = "furechan", "email" = "furechan@xsmail.com"} ]
urls = { "homepage" = "https://github.com/furechan/tempcache" }
readme = "README.md"
license = { text = "MIT License" }
classifiers = [
    "Topic :: Utilities",
    "Development Status :: 2 - Pre-Alpha",
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License"
]

[project.optional-dependencies]
dev = [ "cloudpickle", "twine", "invoke", "pytest", "build", "toml" ]

[tool.hatch.build]
sources = ["src"]

[tool.pytest.ini_options]
addopts = [ "-p no:cacheprovider"]
testpaths = ["tests",]

